[Desktop Entry]
Version=1.0
Type=Application
Name=KNIME
Comment=Access the Internet
Exec=/opt/knime_5.2.3/knime %U 
Icon=/opt/knime_5.2.3/icon.xpm
Path=/home/developer/workspace
Terminal=false
StartupNotify=false
